/* COLOR PALETTE

https://www.w3schools.com/colors/colors_palettes.asp

Name: SKY PALETTES

HEX: #bccad6

HEX: #8d9db6

HEX: #667292

HEX: #f1e3dd

*/

/* CSS variablen */
:root {
    --mainBackGroundColor: #667292; 
    --linkFontColor: white;
}

/* Header */

/* Navbar */

/* ausgewählter Bereich (Konto, Solarmodule, Kontakt) */
#activatedNavbarItem {
    background-color: black;
    font-size: 20px;
}

#header,
#navigationbar{
    background-color: #667292 !important;
}

#navigationbar a{
    color: var(--linkFontColor)
}


/* Sobald NaTextgröße des Navbarinhalts  */
/* @media only screen and (min-width: 994px) {
    #navbarNav{
        font-size: 20px;
    }
} */

/* @media only screen and (max-width: 993px) {
    #navbarNav{
        font-size: 20px;
    }
} */


/* Inhalt */

/* Footer */

#footer{
    background-color: var(--mainBackGroundColor) !important;
}

#footer a{
    color: var(--linkFontColor)
}

/* Höhe des Footers anpassen, sobald die Footer-Elemente übereinander gelegt werden  */
@media only screen and (min-width: 576px) {
    #footer {
        height: 45px;
    }
    #navbarNav{
        font-size: 20px;
    }
}
