/* CSS variablen */
:root {
    --navbarBackGroundColor: blue;
    --fontColor:
}

/* Header */

/* Navbar */
#activatedNavbarItem {
    background-color: black;
    font-size: 20px;
}

@media only screen and (min-width: 994px) {
    #navbarNav{
        font-size: 20px;
    }
}

@media only screen and (max-width: 993px) {
    #navbarNav{
        font-size: 20px;
    }
}


/* Inhalt */

/* Footer */

@media only screen and (max-width: 578px) {
    #footer {
        height: 140px;
    }
}

@media only screen and (min-width: 579px) {
    #footer {
        height: 52px;
    }
    #navbarNav{
        font-size: 20px;
    }
}

/* #footer{
    height: 75px;
} */


/* ul#footerList li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
} */

#footerListItem {
    list-style-type: none;
    display: block;
}